/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}



body{
    font-family: 'Work Sans', sans-serif;
}

/* Navbar Section */

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 0;

}

.header{
    width: 1440px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px; 
}

nav ul{
    display: flex;
    gap: 50px;
}

nav h1{
    color:  #131313;
    font-size: 40px;
    font-weight: 700;
}

nav h1 span{
    color: #FF900E;
}

/* Hero Section */
.hero{
    width: 1440px;
    margin: 0 auto;
    margin-top: 102px;
}
.titles{
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

.titles h1{
    color:  #131313;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
}

.titles p{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.btn-common{
    border-radius: 8px;
    border: none;
    background: #FF900E;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 18px 24px;
    margin-top: 40px;
}

.hero-img{
    margin-top: 50px;
    width: 1440px;
    height: 500px;
    border-radius: 8px;
    background: url(../images/team\ header.jpg), lightgray 0px -94.291px / 100% 137.109% ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main{
    width: 1440px;
    margin: 0 auto;
}
/* Features */
.features{
    margin: 100px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 70px; */
}

.feature-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.fimage img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.feature-info{
    width: 535px;
}

.feature-info h2{
    color: #727272;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 25px;
}

.fi1{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.fi2{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

.feature-info p{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* About */
.about{
    display: flex;
    justify-content: space-between;
}

.about-img img{
    width: 708px;
    height: 982px;
}

.about-info h2{
    color:  #131313;
    font-size: 45px;
    font-weight: 700;
    width: 468px;
    border-left: 5px solid #FF900E;
    padding-left: 24px;
    margin-bottom: 24px;
}

.ap{
    width: 586px;
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}

.list{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    width: 586px;
    /* height: 150px; */
    padding: 30px;
    margin-bottom: 30px;
}

.list h3{
    color: #131313;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

.list 